<a href="https://colab.research.google.com/github/leejeekyo/ion-channel/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import urllib.request
from collections import Counter
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf
import os
os.environ['TF_CPP_MIN_LOG_LEVEL']='2'
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn import metrics
from tensorflow.python.framework import ops
ops.reset_default_graph()
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 파일 불러오기
from google.colab import drive
drive.mount('/content/drive')
zero2= pd.read_excel('/content/drive/My Drive/zero2.xlsx')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
zero2=zero2.drop([0])
zero2

      홍수사상번호       연    월     일  ...  Unnamed: 44  Unnamed: 45 Unnamed: 46 Unnamed: 47
1        1.0  2006.0  7.0  10.0  ...            8            8        2.54      122.61
2        1.0  2006.0  7.0  10.0  ...           10           10        2.53       122.6
3        1.0  2006.0  7.0  10.0  ...           10           11        2.53      122.59
4        1.0  2006.0  7.0  10.0  ...           15           14        2.53     122.585
5        1.0  2006.0  7.0  10.0  ...           18           16        2.53     122.575
...      ...     ...  ...   ...  ...          ...          ...         ...         ...
3047    26.0  2018.0  7.0   7.0  ...            0            0        3.16      129.95
3048    26.0  2018.0  7.0   7.0  ...            0            0        3.15      129.97
3049    26.0  2018.0  7.0   7.0  ...            0            0        3.13      129.98
3050    26.0  2018.0  7.0   7.0  ...            0            0        3.11      129.99
3051    26.0  2018.0  7.0   7.0  ...            0            0         3.1         130

[3051 rows x 48 columns]

In [ ]:
zero2.columns=['event_number','years','months','days','times','flood','mean_rainfall_1','A_rainfall_1','B_rainfall_1','C_rainfall_1','D_rainfall_1','E_waterlevel_1','D_waterlevel_1','mean_rainfall_2','A_rainfall_2','B_rainfall_2','C_rainfall_2','D_rainfall_2','E_waterlevel_2','D_waterlevel_2','mean_rainfall_3','A_rainfall_3','B_rainfall_3','C_rainfall_3','D_rainfall_3','E_waterlevel_3','D_waterlevel_3','mean_rainfall_4','A_rainfall_4','B_rainfall_4','C_rainfall_4','D_rainfall_4','E_waterlevel_4','D_waterlevel_4','mean_rainfall_5','A_rainfall_5','B_rainfall_5','C_rainfall_5','D_rainfall_5','E_waterlevel_5','D_waterlevel_5','mean_rainfall_6','A_rainfall_6','B_rainfall_6','C_rainfall_6','D_rainfall_6','E_waterlevel_6','D_waterlevel_6']
zero2

      event_number   years  months  ...  D_rainfall_6  E_waterlevel_6  D_waterlevel_6
1              1.0  2006.0     7.0  ...             8            2.54          122.61
2              1.0  2006.0     7.0  ...            10            2.53           122.6
3              1.0  2006.0     7.0  ...            11            2.53          122.59
4              1.0  2006.0     7.0  ...            14            2.53         122.585
5              1.0  2006.0     7.0  ...            16            2.53         122.575
...            ...     ...     ...  ...           ...             ...             ...
3047          26.0  2018.0     7.0  ...             0            3.16          129.95
3048          26.0  2018.0     7.0  ...             0            3.15          129.97
3049          26.0  2018.0     7.0  ...             0            3.13          129.98
3050          26.0  2018.0     7.0  ...             0            3.11          129.99
3051          26.0  2018.0     7.0  ...             0             3.1             130

[3051 rows x 48 columns]

In [ ]:
zero2 = zero2[['event_number','years','months','days','times','flood','mean_rainfall_1','mean_rainfall_2','mean_rainfall_3','mean_rainfall_4','mean_rainfall_5','mean_rainfall_6','A_rainfall_1','A_rainfall_2','A_rainfall_3','A_rainfall_4','A_rainfall_5','A_rainfall_6','B_rainfall_1','B_rainfall_2','B_rainfall_3','B_rainfall_4','B_rainfall_5','B_rainfall_6','C_rainfall_1','C_rainfall_2','C_rainfall_3','C_rainfall_4','C_rainfall_5','C_rainfall_6','D_rainfall_1','D_rainfall_2','D_rainfall_3','D_rainfall_4','D_rainfall_5','D_rainfall_6','E_waterlevel_1','E_waterlevel_2','E_waterlevel_3','E_waterlevel_4','E_waterlevel_5','E_waterlevel_6','E_waterlevel_1','D_waterlevel_1','D_waterlevel_2','D_waterlevel_3','D_waterlevel_4','D_waterlevel_5','D_waterlevel_6']]

In [ ]:
zero2

      event_number   years  months  ...  D_waterlevel_4  D_waterlevel_5  D_waterlevel_6
1              1.0  2006.0     7.0  ...         122.675          122.66          122.61
2              1.0  2006.0     7.0  ...         122.668         122.648           122.6
3              1.0  2006.0     7.0  ...         122.661         122.636          122.59
4              1.0  2006.0     7.0  ...         122.654          122.62         122.585
5              1.0  2006.0     7.0  ...         122.639         122.604         122.575
...            ...     ...     ...  ...             ...             ...             ...
3047          26.0  2018.0     7.0  ...         129.882         129.916          129.95
3048          26.0  2018.0     7.0  ...         129.896         129.928          129.97
3049          26.0  2018.0     7.0  ...         129.911          129.94          129.98
3050          26.0  2018.0     7.0  ...         129.925         129.952          129.99
3051          26.0  2018.0     7.0  ...         129.936         129.964             130

[3051 rows x 44 columns]

In [ ]:
zero2.to_excel('/content/drive/MyDrive/cnn.xlsx')